# mac specific
.DS_Store

# latex files
*.aux
*.log
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.lof
*.toc
*.lot
*.nav
*.out
*.snm
*.bcf
*.run.xml

# java 
*.class

# matlab

# sublime
*.sublime-workspace
*.merged-ca-bundle
*.user-ca-bundle
