[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "homebrew/localInstall"]
	path = homebrew/localInstall
	url = https://github.com/Homebrew/homebrew.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug
